// SASS VARIABLES AND BUILT IN FUNCTIONS
$default-font: Helvetica, sans-serif;
$default-size: 16px;
$hover-color: #E4EBE3;
$base_color: #325C38;
$background_color: lighten($base_color, 40);
$body_color: lighten($base_color, 50);
$text_color: darken($base_color, 5);

// SASS MIXIN
@mixin headertwo($size, $color: white) {
  color: $color;
  font-size: $size;
}

body{
background-color: $body_color;
font: $default-font $default-size;
}

p {
display:block; 
margin-left: 8px / 32px * 100%;
margin-right: 8px / 32px * 100%;
color:$text_color;
}

// SASS EXTEND AND PROPERTY NESTING
h1 {
@extend p;
font: {
    family: sans-serif;
    size: 2em;
    weight: bold;
    }
}

// SASS INCLUDE WITH MIXIN
h2 {
  @include headertwo($color: green, $size: 32px);
}

a{
color:$base_color;
}

form{
color: $base_color;
display:block; 
margin-left: 10%;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

container{
display:block; 
margin-top: 5%;
margin-left: auto;
margin-right: auto;
background-color: #BFDFBE;
padding: 20px;
width: 800px / 960px * 100%;
}

// SASS NESTING SELECTOR
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: $background_color;

    li{
    display:inline;
    }
    
    a{
	text-decoration: none;
	color: #3E703C;
    display:inline-block;
    padding: 10px 15px 10px 15px;
    }

    a:hover{
	color: $hover-color;
    }
}

img {
	display:block; 
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

footer {
    padding:1px 1px 1px 1px;
    text-align:center;
    background-color: $background_color;
}

input, select, .input {
	color: $base_color;
}

.img {
float: left;
}


